<h1>Product listing</h1>

<p>
	<%= form_tag products_path, method: :get, authentication: false, id: 'search-form' do %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search" %>
<% end %>
</p>

<p>
	<%= link_to "add new product", new_product_path %>
</p>

<p>
	<%= link_to "add new user", new_user_path %>
</p>

<div id="products">
	<%= render @products %>
</div>